
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size:88px;
  color:white;
  text-align:center;
  background-color: #fcce00;
  opacity: 81%;
  margin: 0px 0px 5px 0px;
}


.section-title {
  font-size:38px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: #ff6b00;
  opacity: 81%;
  margin: 6px 0px 5px 0px;
}

.bannière-rose{
  background-color : #e02020;
  height: 32px;
  opacity: 81%;
  margin: 0px 0px 5px 0px
}

.bannière-violette{
  background-color :#b620e0;
  height: 16px;
  opacity: 81%;
  margin: 0px 0px 5px 0px
}

.bannière-bleue{
  background-color : #6236ff;
  height: 8px;
  opacity: 81%;
  margin: 0px 0px 5px 0px
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/