
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: 'Poppins', sans-serif;

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
  font-size:88px;
  color:white;
  text-align:center;
  background-color: #fcce00;
  margin: <0px> <416px> <5px> <418px>;
    
}

.section-title {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/